@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  font-family: 'Alex Brush', cursive;
  width: 100%;
  height: 100%;
  /* background-color: black; */
  /* background-image: url('./img/witchy.jpg'); */
  /* background-repeat: no-repeat ; */
  /* background-position: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.App-Name::before {
  content: "";
  background-image: url('./img/witchy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.80;
}

.App-Name {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 20px;
  /* border-bottom: 2px solid white; */
}

.App-Name h1 {
  margin-top: 80px;
  font-size: 300px;
  padding-bottom: 30px;
  line-height: 0.7;
  position: relative;
  /* font-weight: lighter; */
}

.App-Name h2 {
  font-size: 30px;
  font-weight: lighter;
  padding-bottom: 30px;
  position: relative;
  left: 200px;
  bottom: 50px;
}

.App-Name-Focus  {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  text-align: center;
  margin-bottom: 0px ;
  position: relative;
}

.App-Draw {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;  
  align-items: center;
  color: white;
  position: relative;
}

.App-Draw p {
  font-family: 'Raleway', sans-serif;  
  font-size: 30px;
}

.App-Draw button {
  width: 100px;
  height: 40px;
  font-size: 20px;
  border-radius: 10%;
}

.App-Draw-One  {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
}

.App-Draw-Two {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 70px;
}

button:hover{
  background-color: transparent;
  color: white;
  cursor: pointer;
  
}




